/* Home page */
@media (min-width: 992px) {
    .heading {
        font-size: 3.5rem;
    }
}

@media (min-width: 1400px) {
    .heading {
        font-size: 5rem;
    }
}

@media screen and (min-width: 992px) {
    .feature:nth-of-type(even) .feature__content {
        order: 2;
    }
}

/* Tours page */
@media (max-width: 420px) {
    .btn-filter {
        padding: 5px;
    }
}

/* About page */
.tech-container {
    background-color: rgb(242, 238, 238);
}

.tech-img {
    max-width: 250px;
    margin: auto;
}