.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.75);
}

/* "!mportant" So as not to conflict with Bootstrap */
.modal {
  display: block !important;
  position: fixed !important;
  top: 20vh !important;
  left: 5% !important;
  width: 90% !important;
  height: auto !important;
  max-height: 70vh;
  background: white !important;
  z-index: 99999 !important;
  border-radius: 14px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem !important;
    left: calc(50% - 20rem) !important;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}